// Laptop
@media screen and (max-width: 1250px) and (min-width: 999px) {}

@media screen and (max-width: 999px) {
  #hero {
    grid-template-columns: 1fr !important;
    grid-template-rows: 2fr !important;

  }

  .item1 {
    order: 1;
    /* Container 1 will appear on top */
    height: 22vh !important;
  }

  .item2 {
    order: 2;
    /* Container 2 will appear below Container 1 */
    height: 68vh !important;
  }

}

// iPad
@media screen and (max-width: 768px) and (min-width: 452px) {}

@media screen and (max-width: 740px) {
  #nav a {
    display: none;
  }
}

// Phone
@media screen and (max-width: 451px) {}