#nav{
    height: 80px;
    background-color: #151F30  ;
    display: flex;
    justify-content: flex-start;
    align-items:center;

    a{
        padding: 0 30px;
        text-decoration: none;
        color: #FAF9F6	;
        font-size: 16px;
        font-family: 'Nova Mono', monospace;
        letter-spacing: 2px;
        text-transform: uppercase;
     
    }
    img{
        height: 60px;
        padding: 0 30px;
     }
}