@use "navbar";
@use "_mediaquarry";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FDFDFD;
}

#hero{
    background-image: url(../img/shutterstock_1366015142-scaled.jpg);
    height: 600px;
    background-color: #FDFDFD;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scaleX(-1); 
    display: flex;
    justify-content: flex-end;
   
}

.quote{
    padding-left: 300px;
    height: fit-content;
    transform: scaleX(-1);
    text-align: center;
    margin-top: 300px;
    margin-left: 30px;
    font-size: 32px;
   


    
  
}
span{
    transform: inherit ;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Indie Flower', cursive;
    
}


#footer{
position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #151F30;
height: 10vh;
}